* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}


/* Do not touch these, they are used ONLY on top navigation bar*/
.top-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18.75rem;
    background-image: url("media/4musketeers3.jpg");
    background-position: right 15%;
    background-size: cover;
    width: 100%;
}

.nav-buttons {
    padding: 0.625rem 0.938rem;
    border: 2px solid red;
    text-decoration: none;
    display: inline-block;
    background-color: black;
    text-align: center;
    font-size: 1.1rem;
    color: white;
    margin: auto;
    margin-right: 1rem;
}

#nav-active {
    color: red;
}

.nav-buttons:hover {
    color: red;
}

/* Nav Bar ends here*/

body {
    background-color: #f8f9fa;
    color: black;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    /* Centers the main horizontally */
    align-items: center;
    /* Centers the main vertically */

}

/* Everything about footer */
footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: black;
    height: 80px;
    padding: 10px;
}

.footer-logo {
    max-width: 80px;
    height: auto;
}

/* Footer ends */

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    min-height: 80vh;
    width: 90%;
}

h1 img {
    width: 90px;
}

#left-align {
    text-align: left;
    align-self: flex-start;
}

#left-align img {
    width: 30px;
    padding-top: 10px;
}

p {
    font-size: 1.4em;
    margin-bottom: 15px;
}

p a {
    text-decoration: none;
}


/* Font classes */
.fancy-font {
    font-family: "Mea Culpa", cursive;
    font-weight: 400;
    font-style: normal;
}

.tinos-regular {
    font-family: "Tinos", serif;
    font-weight: 400;
    font-style: normal;
}

.tinos-bold {
    font-family: "Tinos", serif;
    font-weight: 700;
    font-style: normal;
}

.tinos-regular-italic {
    font-family: "Tinos", serif;
    font-weight: 400;
    font-style: italic;
}

.tinos-bold-italic {
    font-family: "Tinos", serif;
    font-weight: 700;
    font-style: italic;
}


/*codeacademy links*/
.linkca {
    position: relative;
    display: inline-block;
    margin-right:2.5rem;
    margin-left:2.5rem;

}

#codeacademy_links a{
    text-decoration: none;
    color: red;
    
}

iframe {
    width: 30rem;
    height: 50rem;
    border-radius: 10%;
    

}



/*codeacademy links end*/
.h1wp{
    margin-bottom: 1%;
}
#website_project {
    padding:1rem;
}


#process {
    padding:1rem;
}

#calogo img {
    display: inline;
    width: 164px;
    height: 36px;
    position: relative;
    top: 8px;
    transition-duration: 0.7s;
}

#calogo:hover .logoca {
    width: 184px;
    height: 40px;
}


/*Color theme button*/
#darkmodebutton {

    
        padding: 0.625rem 0.938rem;
        border: 2px solid red;
        text-decoration: none;
        display: inline-block;
        background-color: black;
        text-align: center;
        font-size: 1.1rem;
        color: white;
        margin: auto;
    

}

#darkmodebutton:hover #dmp {
    transition-duration: 0.7s;
    fill: red;
}

#darkmodebutton:hover #lmp {
    transition-duration: 0.7s;
    fill: red;
}

#darkmodebutton svg:last-child {
    display: none
}


/*Color theme button*/
/*Greeting message*/
#greeting-message {
    position: fixed;
    color:white;
    background-color: rgb(37, 4, 4);
    width: 120rem;
    height: 120rem;
    transition: opacity 0.7s;
    font-size: xx-large;
    padding-top: 25rem;
}
/*Greeting message ends*/
/*Team member container*/
.members{
    display: flex;
    
    justify-content: space-between;
}
.membercontainer{
    display: inline-block;
    border:2px solid red;
    width:20rem;
    height:40rem;
    border-radius:5%;
    margin-left: 3rem;
}
.membercontainer img{
    display:inline;
    border-radius: 50%;
    position:relative
}
/*Team member container*/
